* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #e0e0e0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header h1 {
    font-weight: 700;
}

#hero h2 {
    font-family: 'Oswald', sans-serif; 
    font-size: 3rem;
}
